{% assign translate = site.data.translations.lang[page.lang] %}
<footer id="footer">
	<div class="inner">
		<div class="flex">
			<ul class="icons">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
				<a class="github-button gitFooter" href="https://github.com/TWRPBuilder/TWRPBuilder" data-icon="octicon-star" data-show-count="true" aria-label="Star TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Star</a>
				<a class="github-button gitFooter" href="https://github.com/TWRPBuilder/TWRPBuilder/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Fork</a>
				<br>
				<li><h4>{{ translate.followus }}:</h4></li>
				<li><a href="https://t.me/twrpbuilder"><i class="fa fa-telegram"></i> <span class="label"></span></a></li>
				<li><a href="https://github.com/TWRPBuilder"><i class="fa fa-github"></i> <span class="label"></span></a></li><br>
				<a href="{%unless page.lang == "en"%}/{{page.lang}}{%endunless%}/unsupported_devices">{{ translate.unsupporteddevicesinformation}}</a>
				<!-- replace: "xxx","{{page.update}} -->
				{%if page.update%}<h4 class="info"><em>{{translate.pageupdate"}} {{page.update}}</em></h4>{%endif%}
			</ul>

			<div class="copyright">
				<div class="footerLinks">
					<div class="icons">
						<br>
						<br>
						<h4>{{translate.locale}}: {% for menu in site.data.translations.lang %}<a href="/{% unless menu[0] == 'en' %}{{menu[0]}}/{%endunless%}{{page.url | replace_first: '/','' | remove: 'tr/' | remove: 'ar/' | remove: 'fr/' | remove: 'cs/' | remove: 'es/'}}" style="margin: 0 5px 0 5px">{{ menu[0] | upcase}}</a>{% endfor %} </h4>
					</div>
					<h4 style="color: #bbbbbb4a">&copy; TWRP Builder <em>2018</em></h4>
				</div>
			</div>
		</div>
	</div>
</footer>
