<footer id="footer">
	<div class="inner">
		<div class="flex">
			<div class="copyright">
				&copy; TWRP Builder. Design: <a href="https://templated.co">TEMPLATED</a>.
			</div>
			<ul class="icons">
			<!--
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
				<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
				<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
			-->
				<a href="/unsupported_devices">Unsupported devices</a>
				<li>
					<div class="gitFooter">
						<a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder" data-icon="octicon-star" data-show-count="true" aria-label="Star TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Star</a>
						<a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Fork</a>
					</div>
				</li>
			</div>
			</ul>
		</div>
	</div>
</footer>