<footer id="footer">
	<div class="inner">
		<div class="flex">
			<ul class="icons">
				<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
				<a class="github-button gitFooter" href="https://github.com/TWRPBuilder/TWRPBuilder" data-icon="octicon-star" data-show-count="true" aria-label="Star TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Star</a>
				<a class="github-button gitFooter" href="https://github.com/TWRPBuilder/TWRPBuilder/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Fork</a>
				<br>
				<li><h4>Follow us:</h4></li>
				<li><a href="https://t.me/twrpbuilder"><i class="fa fa-telegram"></i> <span class="label">Telegram</span></a></li>
				<h4 class="info">{%if page.update%} <em>This page was last updated on {{page.update}} {%endif%} </em></h4>
			</ul>
			<br>
			
			<div class="copyright">
				<div class="footerLinks">
					<br>
					<a href="/unsupported_devices" class="unsupported">Unsupported devices</a>
					<h4>&copy; TWRP Builder. Design: <a href="https://templated.co">TEMPLATED</a></h4>.
				</div>
			</div>
		</div>
	</div>
</footer>