{% assign translate = site.data.translations.lang[page.lang] %}
<script>
	var lastPosition = $(window).scrollTop();
		$(window).scroll(function(event){
			var currentPosition = $(this).scrollTop();
			if (currentPosition > lastPosition){
				$('#header').fadeOut();
			} else {
				$('#header').fadeIn();
			}
		lastPosition = currentPosition;
	});
</script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<header id="header">
	<div class="inner">
		<nav id="nav">
			<a href="{%unless page.lang == 'en'%}/{{page.lang}}{%endunless%}/">{{translate.home}}</a>
			<a href="{%unless page.lang == 'en'%}/{{page.lang}}{%endunless%}/#about">{{translate.about}}</a>
			<a href="{%unless page.lang == 'en'%}/{{page.lang}}{%endunless%}/downloads/twrp">{{translate.downloads}}</a>
			<div class="rightHead">
				<a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder" data-icon="octicon-star" data-show-count="true" aria-label="Star TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Star</a>
				<a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Fork</a>
			</div>
			<!-- <a href="login.html">Login</a> -->
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>