{% assign translate = site.data.translations.lang[page.lang] %}
<!--<script type="text/javascript">
    $( document ).ready(function(){
        var userLang = navigator.language || navigator.userLanguage;
		var page = window.location.pathname;
        if (userLang == "en") {
            window.location.href = "/"+page
        } else if (userLang == "fr" && !window.location.href.match("/fr"))  {
            window.location.href = "/fr" + page
        } else if (userLang == "ar" && !window.location.href.match("/ar"))  {
            window.location.href = "/ar"
        } else if (userLang == "tr" && !window.location.href.match("/tr"))  {
            window.location.href = "/tr" + page
        };
    });
</script>-->
<script>
	var lastPosition = $(window).scrollTop();
		$(window).scroll(function(event){
			var currentPosition = $(this).scrollTop();
			if (currentPosition > lastPosition){
				$('#header').fadeOut();
			} else {
				$('#header').fadeIn();
			}
		lastPosition = currentPosition;
	});
</script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<header id="header">
	<div class="inner">
		<nav id="nav">
			<a href="{%unless page.lang == 'en'%}/{{page.lang}}{%endunless%}/">{{translate.home}}</a>
			<a href="{%unless page.lang == 'en'%}/{{page.lang}}{%endunless%}/#about">{{translate.about}}</a>
			<a href="{%unless page.lang == 'en'%}/{{page.lang}}{%endunless%}/downloads/twrp">{{translate.downloads}}</a>
			<div class="rightHead">
				<a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder" data-icon="octicon-star" data-show-count="true" aria-label="Star TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Star</a>
				<a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Fork</a>
			</div>
			<!-- <a href="login.html">Login</a> -->
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>


	<!-- start-smooth-scrolling -->

	<script type="text/javascript" src="/assets/js/move-top.js"></script>
	<script type="text/javascript" src="/assets/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 0);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
<script type="text/javascript" src="/assets/js/SmoothScroll.min.js"></script>