<!-- Header -->
<header id="header">
    <!--<a href="index.html" class="logo align-right"><strong>TWRP Builder</strong> by amazing guys</a>
    <ul class="icons">
        <li><a href="#" class="icon fa-telegram"></a></li>
        <li><a href="#" class="icon fa-github"></a></li>
    </ul>-->
    <img src="/images/twrpBuilder_title.png" width="360" height="34px" style="float: left"/>
    <h3 style="color: #fff; font-weight: 100; word-spacing: 3px">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder" data-icon="octicon-star" data-show-count="true" aria-label="Star TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Star</a> or <a class="github-button" href="https://github.com/TWRPBuilder/TWRPBuilder/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TWRPBuilder/TWRPBuilder on GitHub" style="border-top: solid 0 #000">Fork</a> on <i class="fa fa-github fa" style="font-size: 1.4em"></i>
    </h3>
</header>