<!DOCTYPE HTML>
<html lang="{{page.lang}}">
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{page.title}}{% unless page.title=='TWRP Builder' %} | TWRP Builder {%endunless%}</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/assets/images/logo.png">
		<meta name="description" content="TWRP Builder">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		
		<meta property="og:title" content="{%if page.title %}{{page.title}}{%else%}TWRP Builder{%endif%}" />
		<meta property="og:description" content="{% unless page.title == 'TWRP Builder' %}TWRP Builder{% endunless%}" />
		<meta property="og:image" content="/assets/images/logo.png" />
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!-- Header -->
			{%include header.html%}
        

		{{content}}

		<!-- Footer -->
			{%include footer.html%}

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			<script type="text/javascript">
			  function nocontext(e) {
				var clickedTag = (e==null) ? event.srcElement.tagName : e.target.tagName;
				if (clickedTag == "IMG")
				  return false;
			  }
			  document.oncontextmenu = nocontext;
			</script>
	</body>
</html>
