<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TWRP Builder</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	</head>
	<body class="subpage">
			<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
			<script src="/index.js"></script>

		<!-- Header -->
			{%include header.html%}

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-left">
						<h2>{{page.title}}</h2>
						<p style="float: left"> {%if page.update%} <em>Last updated: {{page.update}}</em> |{%endif%} Created: {{page.date}}</p>
						
					</header>

				{{content}}
			</section>

		<!-- Footer -->
			{%include footer.html%}

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
	</body>
</html>
