<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TWRP Builder</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="{{page.root}}/images/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{page.root}}/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	</head>
	<body class="subpage">
			<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
			<script src="{{page.root}}/index.js"></script>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<nav id="nav">
						<a href="{{page.root}}/">Home</a>
						<a href="{{page.root}}/#about">About</a>
						<a href="{{page.root}}/downloads/twrp">TWRP Downloads</a>
						<!-- <a href="login.html">Login</a> -->
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>{{page.title}}</h2>
						<p style="float: right">{{page.date}}</p>
						
					</header>
				<hr class="major" />

				{{content}}
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; TWRP Builder. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>
						<ul class="icons">
							<li><a href="https://github.com/TWRPBuilder" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{page.root}}/assets/js/jquery.min.js"></script>
			<script src="{{page.root}}/assets/js/skel.min.js"></script>
			<script src="{{page.root}}/assets/js/util.js"></script>
			<script src="{{page.root}}/assets/js/main.js"></script>
	</body>
</html>
